aiofiles==0.6.0
catboost==1.2.2
python-dotenv==1.0.0
duckdb==0.8.1
fancyimpute==0.7.0
geopy==2.4.0
json==2.0.9
lightgbm==3.3.2
metar==1.4
numpy==1.24.4
openai==0.27.2
optuna==3.3.0
pandas==1.5.2
pyproj==3.6.1
re==2.2.1
requests==2.31.0
sklearn==1.1.1
tqdm==4.65.0
xgboost==1.6.1